
#float {font-size: 4em;
font-family: arial,san-serif;
position: flex;}
#fixed {font-size: 8em;
    color: blue;
    text-decoration: none;
    position: flex;
    display:flex;
    text-align: center;
  font-family: arial, san-serif;
}
