
html {background-color: yellow;}
#float {font-size: 2em;
font-family: arial,san-serif;
position: flex;}
#fixed {font-size: 8em;
    color: blue;
    text-decoration: none;
    position: fixed;
    display:flex;
    text-align: center;
  font-family: arial, san-serif;
}
